.mainmenu-area {
    background-color: #138fc2;
}






#barang-desa{
   padding-bottom: 50px;
}

#barang-desa img{
    width: 100%;
    height: 100%;
}


#kotakbarang{
margin: 27px 0px;
}

/*.card-title{
	white-space: nowrap ;
}*/


#berita-desa img{
    float: left;
    margin: 10px 10px;
}
#detail_berita img{
    float: left;
    margin: 10px 10px;
}

