/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {





}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #foothome {
        margin-top: 55%;
    }

    #profildesa img {

        width: 100%;
    }

    .h1, h1 {

        font-size: 2.0rem;

    }

    #profildesa p {

        font-size: 13px;

    }
   
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {




}

    
    @media only screen and (min-width: 320px) and (max-width: 479px) {
    
    .active {
        display: none;
    }

    .ml-auto, .mx-auto {

    margin-right: 191px;

    }

    #pembatas{
        display: none;
    }

    #home a{
        margin: 26px 0px;
    }

    #profildesa img {

        width: 100%;
        margin: 10px 0px;

    }

    .h1, h1 {

        font-size: 1.5rem;

    }

    #profildesa p {

        font-size: 13px;

    }

    

}