/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {







}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {








 
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {





}


    
@media only screen and (min-width: 320px) and (max-width: 479px) {
.garisbawah.active {
        display: none;
    }

    .h5, h5 {
    font-size: 13px;
   }


   #detail_berita img {
    width: 100%;
    float: left;
    margin: 10px 0px;
  }

  h1.text-center {
    font-size: 24px;
  }

  #berita-desa img {
    margin: 10px 0px;
    width: 100%;
}

    

    
}
