/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {





}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

   
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {




}

    
    @media only screen and (min-width: 320px) and (max-width: 479px) {

    .garisbawah.active {
        display: none;
    }
    


    .slideshowgambar .active {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px #000;
    transition: 1s;
    }
    .slideshowgambar img {
        width: 100px;
        height: 100px;
        margin: 0px 19px;
        margin-left: -9px;
    }

    h3{
        font-size: 18px;
    }
    
    p {
    font-size: 11px;
    }

    

}