/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {


}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
   
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
   
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
   

}

    
    @media only screen and (min-width: 320px) and (max-width: 479px) {

     body{
        background-image: url("/images/bg.jpg");
        }

    #home .container {
    padding-top: 17%;
    background-image: url(/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial';
    font-size: 0.8rem;
    height: 903px;
    }

    #home .kotaklogin {
    width: 344px;
    bottom: 44px;
    left: 0px;
    }

    #home .kotakdaftar {
    bottom: 48px;
    left: 0px;
    height: 495px;
    }

    #home .profildesaasd {
    bottom: 47px;
    left: 29px;
    }

    #foothomeloginregister {
    width: 375px;
    margin: 171px -44px;
    }

    #slogan1loginregister {
    font-size: 26px;
    }

    #slogan2loginregister {
    font-size: 27px;
    }

    .noteloginform {
    bottom: 85px;
    right: 107px;
    font-size: 16px;
    }

    .notedaftarform {
    bottom: 61px;
    right: 135px;
    }

    .noteloginform a {
        color: darkblue!important;
    }

    .notedaftarform a {
        color: darkblue!important;
    }



}