
body{
    background-image: url("/images/bg.jpg");

   /* Full height */
   height: 483px;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Arial';
   font-size: 0.8rem;
}






#logotext{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 46px;
    font-size: 26px;
    
}

#logotext2{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 5px;
    
}

#spacetextlogo{
    display: inline-grid;
}


.nav-item{
    font-size: 18px;
}

#home{
    height: 100%;
    width: 100%;
}

#logo{
    height: 81px;
    background-color: #ffffff;
}

#logo img{
    margin: 10px 0px;
}


.bg-dark{
    background-color: #949599!important;
}

.nav-link{
    text-transform: uppercase;
    margin: 0px 10px;
    color: #ffffff!important;
}

.active{
    border-bottom: 2px #ffffff solid;
    width: 37%;
    margin: -9px 33%;
}

.dropdown-toggle::after {
    display:none;
}

#home .asd{
    position: relative;
    bottom: 115px;
    
}

#home .profildesaasd {
    position: relative;
    bottom: 190px;
    left: 99px;
}

#home a{
    color: #000;
}

#home .container{
    padding-top: 17%;
}

#home ul li a{
    text-decoration: none;
}

#home ul li{
    list-style-type: circle;
    font-size: 22px;
    line-height: 111px;
}
#home ul li:hover{
    font-weight: bold;
    white-space: nowrap;
}

.garistransparansi{
    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;
    width: 384px;
    height: 19px;
    margin: -50px -17px;
}

#slogan1{
    color: rgba(255,255,255,.8);
    font-weight: 100;
    font-family: 'Candara';
}

#slogan2{
    color: #ffffff;
    font-weight: bold;
}

#pembatas{
    display: inline-block;
    background-color: rgba(255,255,255,.5);
    width: 2px;
    height: 50px;
    position: relative;
    top: 20px;
    margin: 0px 20px;
}

#foothome{
    background-color: rgba(255,255,255,.5);
    width: 100%;
    margin-top: 25%;
}


#foothome img{
    padding: 3px 3px;
    border-radius: 57px;
    background-color: #949599;
    width: 51px;
    width: 45px;
    height: 40px;
}

#foothome .col-md-4.text-center {
    position: relative;
    bottom: 21px;
}

#profildesa a {
    border: 1px rgba(0,0,0,1) solid;
    color: gray;
    background-color: transparent;
    display: inline-block;
    padding: 10px 45px;
    width: 200px;
    font-size: 17px;
}

#profildesa p{
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

#profildesa img{
    border-radius: 21px;
}

footer{
    color: gray;
    font-size: 15px;
    margin: 31px 0px;
}

footer a{
    color: gray;
}


#home .kotakdaftar{
    background-color: rgba(125,125,125,.5);
    width: 358px;
    height: 423px;
    position: relative;
    bottom: 201px;
    left: 52px;
    border-radius: 15px;
    }

    #home .kotaklogin{
    background-color: rgba(125,125,125,.5);
    width: 358px;
    height: 300px;
    position: relative;
    bottom: 113px;
    left: 52px;
    border-radius: 15px;
    }


.email,.password{
    background-color: rgba(125,125,125,.5);
    height: 50px;
}

.formemail{
    padding: 11px 29px;
}

.formpassword{
    padding: 11px 29px;
}

.btnlogin{
    padding: 11px 29px;   
    text-transform: uppercase;
}

.btnlogin button{
    border-radius: 15px;
    border: 1px #000 solid;
    width: 100px;
    height: 30px;
    box-shadow: 3px 5px 13px #000;
    background-image: linear-gradient(#ffffff, #C4C4C4);
}

.noteloginform{
    position: relative;
    bottom: 196px;
    right: 35px;
}

.noteloginform a{
    color: #A671DA!important;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  
  border-left: 15px solid #949599;
  margin: 0px 17px;
  display: inline-block;
  cursor: pointer;
}

.arrow-right:hover {
    border-left: 15px solid #000000;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #949599;
    margin: 0px 17px;
    display: inline-block;
    cursor: pointer;
}

.arrow-left:hover {
    border-right: 15px solid #000000;
}

.slideshowgambar{
    margin: 93px 0px;
}

.slideshowgambar img{
    width: 100px;
    height: 100px;
}

.slideshowgambar .active{
    transform: scale(1.5);
    box-shadow: 10px 10px 10px #000;
    transition: 1s;
}

.slideshowgambar .animasi{
    transform: translateX(-100px);
    transform: scale(1);
    box-shadow: 0px 0px 0px #000;
    transition: 1s;
}