    
body{
    background-image: url("/images/bg.jpg");

   /* Full height */
   height: 1000px;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Arial';
   font-size: 0.8rem;
}

#logotext{
    text-transform: uppercase;
    font-weight: bold;
    line-height: 46px;
    font-size: 26px;
    
}

#logotext2{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 5px;
    
}

#spacetextlogo{
    display: inline-grid;
}


.nav-item{
    font-size: 18px;
}

#home{
    height: 100%;
    width: 100%;
}

#logo{
    height: 81px;
    background-color: #ffffff;
}

#logo img{
    margin: 10px 0px;
}


.bg-dark{
    background-color: #949599!important;
}

.nav-link{
    text-transform: uppercase;
    margin: 0px 10px;
    color: #ffffff!important;
}

.active{
    border-bottom: 2px #ffffff solid;
    width: 37%;
    margin: -9px 31%;
}

.dropdown-toggle::after {
    display:none;
}
#home .dropdown-toggle::after {
    display:none;
}

#home a{
    border: 1px rgba(255,255,255,.5) solid;
    color: #fff;
    background-color: transparent;
    display: inline-block;
    padding: 15px 10px;
    width: 200px;
    
}

#home .container{
    padding-top: 17%;
}

#slogan1{
    color: rgba(255,255,255,.8);
    font-weight: 100;
    font-family: 'Candara';
}

#slogan2{
    color: #ffffff;
    font-weight: bold;
}

#pembatas{
    display: inline-block;
    background-color: rgba(255,255,255,.5);
    width: 2px;
    height: 50px;
    position: relative;
    top: 20px;
    margin: 0px 20px;
}

#foothome{
    background-color: rgba(255,255,255,.5);
    width: 100%;
    margin-top: 25%;
}


#foothome img{
    padding: 3px 3px;
    border-radius: 57px;
    background-color: #949599;
    width: 51px;
    width: 45px;
    height: 40px;
}

#foothome .col-md-4.text-center {
    position: relative;
    bottom: 21px;
}

#profildesa a {
    border: 1px rgba(0,0,0,1) solid;
    color: gray;
    background-color: transparent;
    display: inline-block;
    padding: 10px 45px;
    width: 200px;
    font-size: 17px;
}

#profildesa p{
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

#profildesa img{
    border-radius: 21px;
}

footer{
    color: gray;
    font-size: 15px;
    margin: 31px 0px;
}

footer a{
    color: gray;
}

.arrowdown {
    border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowke2{
    position: relative;
    bottom: 19px;
}

.bungkusarrow{
    position: relative;
    left: 25px;
    bottom: 13px;
}

a#navbarDropdown {
    height: 49px;
}

.dropdown-menu{
    margin-top: 29px;
    
}
#home .dropdown-menu{
    margin-left: 21px;
    margin-top: -127px;
    padding: 5px 5px;
    
}

.speech-bubble {
    position: relative;
    background: rgba(148, 149, 153, 0.5);
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: rgba(148, 149, 153, 0.5);
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}

.speech-bubble2 {
    position: relative;
    background: rgba(148, 149, 153, 0.5);
    border-radius: .4em;
}

.speech-bubble2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(148, 149, 153, 0.5);
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}